/* Fluid design by Trys Mudford  
https://utopia.fyi
*/

/*************************** Tailwind CSS ***************************/
@tailwind base;
@tailwind components;
@tailwind utilities;


/*************************** Styles ***************************/
@font-face { /* Headers */
    font-family: "Rubik";
    src: url(../fonts/Rubik-Regular.ttf);
}

@font-face {/* Text */
    font-family: "Jost";
    src: url(../fonts/Jost-Regular.ttf);
}

html {
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1400 - 300)));
}

h1, h2 {
    font-family: "Rubik", "Tahoma";
}

p, a, time, span, li {
    font-family: "Jost", "Tahoma";
}

.rounded-circle {
    border-radius: 50%;
}

.division::before {
    content: "";
    color: #777;
    width: 100%;
}


.jijija {
    background-color: #111;
}